<h2 style="font-variant: small-caps; font-weight:bold">Welcome, <%=current_user.name%> </h2>
    <h1>Hello,
        <%=current_user.name%>
    </h1>

    <div id="user_receipt">
        <%current_user.receipts.each { |receipt| %>
        <div>
            <h3>
                <bold>Name:</bold>
                <%= receipt.name %>
            </h3>
            <p>
                <bold>Description:</bold>
                <%= receipt.description %>
            </p>
            <a type="button" class="btn btn-primary" href="../receipts/<%= receipt.id %>">
                Details
            </a>
        </div>
        <%}%>
    </div>