<h1 style="font-variant: small-caps; font-weight:bold">Group Administration: <%=group.name%></h1>
<br /><br />
<h3>Members:</h3>
<table class="table">
    <tr><th>Name</th><th>Email</th><th></th></tr>
<%group.users.each{ | user | %>
    <tr><td><%=user.name%></td><td><%=user.email%></td><td><%=link_to "Kick", "/group/kick?" + + {group_id: group.id, user_id: user.id}.to_param, { :method => :post, :class=>"btn btn-danger btn-block" }%></td></tr>
<%}%>
</table>
<h5>Add a new user</h5>
<form action="/group/add" method="POST" class="form">
    <input class="form-control" type="email" name="user_email" placeholder="user's email" style="max-width:300px"/><br />
    <input type="hidden" name="groupID" value="<%=group.id%>"/>
    <input type="submit" class="btn btn-primary"/>
</form>
<br /><br />
<h3>Pay Period:</h3>
<%if (payperiod != nil) %>
    <%if (payperiod.is_expired)%>
        <p>Pay period has expired on <%=payperiod.end.strftime("%v")%>.</p>
    <%else%>
        <p>Active pay period: <%=payperiod.start.strftime("%v")%> to <%=payperiod.start.strftime("%v")%></p>
    <%end%>
    <%unapproved = payperiod.get_unapproved_lineitems()%>
    <%if (unapproved.count > 0)%>
        <p>Unapproved Line Items (preventing a square-up):</p>
        <ul>
            <%unapproved.each{|li|%>
                <li><strong><%=li.name%></strong> on <strong><%=li.recpt_name%></strong> was not approved by <strong><%=User.find(li.unapprover_id).name%></strong></li>
            <%}%>
        </ul>
    <% else %>
        <p>Everyone has approved expenses in this period. You may calculate the pay-table by clicking the button below.</p>
        <%=link_to "Calculate expenses", "/dashboard/groups/squareup/#{group.id}", { :method => :post, :class=>"btn btn-success" }%></td>
    <%end%>
<%end%>
<br /><br />
<h3>Danger Zone:</h3>
<%=link_to "Permanently Delete Group", "/api/v1/delgroup/#{group.id}", { :method => :delete, :class=>"btn btn-danger btn-block" }%></td>
<br /><br />