
    <h1><%=current_user.name%></h1>
    <br>
    <h2>Receipt Name: <%= @receipt.name%></h2>
    <h3>Description: <%= @receipt.description%></h3>
    <h3>Date created: <%= @receipt.created_at%></h3>
    

    <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
        <%@lines.each { |line| %>
            <tr>
                <td><%=line.item%></td>
                <td><%=line.price%></td>
            </tr>            
        <%}%>
    </table>
