<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">HEZE Receipts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <%=active_link_if_active("/", "Home")%>

        <%if (current_user != nil)%>
            <%=active_link_if_active("/dashboard", "Dashboard")%>
            <!--<<%=active_link_if_active("/dashboard/receipts", "Your Receipts")%>-->
            <%
            ct_unapprove = Assigntable.where("user_id = #{current_user.id} and status != 1").count()

            %>
            <%=active_link_if_active("/dashboard/approvals",  "Outstanding Approvals" + ((ct_unapprove>0)? " <span class='badge badge-pill badge-danger'>#{ct_unapprove}</span>".html_safe : ""))%>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=current_user.name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <a class="dropdown-item" href="/dashboard/groups">Memberships</a>
                <%= link_to "Account Settings", edit_user_registration_path, method: :get, class: "dropdown-item" %>
            </div>
            </li>
            
        </ul>
        <%else%>
        </ul>
        <ul class="navbar-nav">
            <%=active_link_if_active(new_user_session_path, "Log In")%>
        </ul>
        <%end%>
    </div>
    </div>
</nav>